@font-face {
	font-family: "Bree serif";
	src: url("bree-serif/BreeSerif-Regular.otf");
}

html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.hero {
	position: relative;
	background-color: #fff;
}

.hero,
.work,
.about {
	min-height: 40vw;
	border-bottom: thick solid #f00;
}

.contact {
	position: relative;
	min-height: 20vw;
}

#logo {
	height: 10vw;
	width: 12vw;
}

.about,
#first-row,
#second-row {
	display: flex;
}

#images,
#about-info {
	width: 50%;
	height: 40vw;
}

#images {
	border-right: thick solid #f00;
}

#about-info {
	overflow: scroll;
}

#first-row a,
#second-row a {
	width: 20%;
	height: 20vw;
	border-right: thin solid #000;
	position: relative;
}

img {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.project-name {
	font-family: "Bree serif";
	white-space: nowrap;
	height: 4vw;
	width: 100%;
	bottom: -4.1vw;
	background-color: rgba(255,0,0,.8);
	position: absolute;
	left: 0;
	color: #fff;
	transition: all 300ms ease-out;
	text-align: center;
}

#first-row a:hover .project-name,
#second-row a:hover .project-name {
	transform: translateY(-100%);
}

ul {
	list-style-type: none;
	position: absolute;
}

nav ul {
	right: 3vw;
}

ul li {
	font-family: "Bree serif";
	display: inline-block;
	margin: 1vw;
	cursor: pointer;
}

.contact ul {
	bottom: 0;
	right: 3vw;
}

#email-icon,
#github-icon,
#linkedin-icon {
	border: thin solid #000;
	border-radius: 50%;
	height: 3vw;
	width: 3vw;
	text-align: center;
	font-size: 2vw;
}

#email:link, 
#email:visited,
#github:link,
#github:visited,
#linkedin:link,
#linkedin:visited {
  text-decoration: none;
  color: #000;
}

#closing-statement,
#copyright {
	font-family: "Bree serif";
	position: absolute;
}

#closing-statement {
	font-size: 2vw;
	left: 3vw;	
}

#copyright {
	font-size: 1.6vw;
	top: 3vw;
	left: 10vw;
}