@font-face {
	font-family: "Bree serif";
	src: url("bree-serif/BreeSerif-Regular.otf");
}

html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden; 
}

.hero {
	background-image: url("https://images.unsplash.com/photo-1439737567250-e9ea931e97a4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=6f360f09a234426c238233a742060faa");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	border-bottom: thick solid #f00;
}

.hero,
.work,
.about {
	min-height: 40vw;
}

.hero,
.about,
.contact {
	position: relative;
}

.about {
	background-color: #fff;
}

.contact {
	min-height: 20vw;
	background-color: rgba(112,138,144,1);
	overflow-y: hidden; 
}

#logo {
	height: 10vw;
	width: 12vw;
}

.about,
#first-row,
#second-row {
	display: flex;
}

#images,
#about-info {
	width: 50%;
	height: 40vw;
}

#images {
	background-color: rgb(0,0,0);
	border-right: thick solid #000;
}

#about-info {
	font-family: "Bree serif";
	font-size: 1.5vw;
	padding-right: 3vw;
	padding-left: 3vw; 
	overflow: scroll;
}

#first-row a,
#second-row a {
	width: 20%;
	height: 20vw;
	border-right: thin solid #000;
	position: relative;
}

#second-row a {
	background-color: rgba(112,138,144,1);
}

img {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.project-name {
	font-family: "Bree serif";
	white-space: nowrap;
	height: 4vw;
	width: 100%;
	bottom: -4.1vw;
	background-color: rgba(255,0,0,.8);
	position: absolute;
	left: 0;
	color: #fff;
	transition: all 300ms ease-out;
	text-align: center;
}

#first-row a:hover .project-name,
#second-row a:hover .project-name {
	transform: translateY(-100%);
}

ul {
	list-style-type: none;
	position: absolute;
}

nav ul {
	right: 3vw;
	font-size: 1.3vw;
}

ul li {
	font-family: "Bree serif";
	display: inline-block;
	margin: 1vw;
	cursor: pointer;
}

.contact ul {
	bottom: 0;
	right: 3vw;
}

#email-icon,
#github-icon,
#linkedin-icon {
	border: thin solid #000;
	border-radius: 50%;
	height: 3vw;
	width: 3vw;
	text-align: center;
	font-size: 2vw;
	background-color: #000;
}

#email:link, 
#email:visited,
#github:link,
#github:visited,
#linkedin:link,
#linkedin:visited {
  text-decoration: none;
  color: rgba(112,138,144,1);
}

#closing-statement,
#copyright {
	font-family: "Bree serif";
	position: absolute;
}

#closing-statement {
	font-size: 2vw;
	left: 3vw;	
}

#copyright {
	font-size: 1.6vw;
	top: 3vw;
	left: 10vw;
}